<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">

    <!-- //规定ie用最新的内核渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 	//设置视口宽度与设备宽度一致不允许缩放页面 -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!-- //禁止电话号码和邮箱的自动识别 -->
    <meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<title>Document</title>
</head>
<body>

      <div ng-controller="myController" class="search" id="chen">
    <input id="wei" type="text" placeholder="search firstName" ng-model="searchText">
    <input id="wei1" type="text" placeholder="search lastName" ng-model="searchText1" > 
    <input type="checkbox" ng-click="cc"><span>Exact Match</span>
      <table border="0">
          <thead>
              <tr class="one">
              
                 <td ng-click="setSort('FirstName')">
                    FirstName
                    <span ng-class="getClass('FirstName')"></span>
                 </td>
                 <td ng-click="setSort('LastName')">
                    LastName
                    <span ng-class="getClass('LastName')"></span>
                  </td>
                 <td ng-click="setSort('Gender')">
                   Gender
                    <span ng-class="getClass('Gender')"></span>
                  </td>
                 <td ng-click="setSort('Salary')">
                    Salary
                    <span ng-class="getClass('Salary')"></span>
                 </td>
                   <td ng-click="setSort('Salary1')">
                    Salary1
                    <span ng-class="getClass('Salary1')"></span>
                 </td>
                   <td ng-click="setSort('Birthday')">
                    Birthday
                    <span ng-class="getClass('Birthday')"></span>
                 </td>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="user in userInfo | orderBy:sortColumn:reverseSort|filter:searchText|filter:searchText1">
             
                 <td>{{user.FirstName}}</td>
                 <td>{{user.LastName}}</td>
                 <td>{{user.Gender}}</td>
                 <td>{{user.Salary}}</td>
                 <td>{{user.Salary1}}</td>
                 <td>{{user.Birthday | date:"yyyy-MM-dd"}}</td>
              </tr>
          </tbody>
      </table>
   </div>
    <!-- <script type="text/javascript">
    		var fSize=document.documentElement.clientWidth/12.42;
    		document.documentElement.style.fontSize=fSize+"px";	
    	</script> -->
    <!-- <script type="text/javascript" src="js/setfontsize.js"></script> -->
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
</body>
</html>